

.alinaer{
    text-align: center;
    margin-top: 20px;

}

ul li {
    list-style: none;
}

.rihgt{
    margin-left: auto;
    
}

mat-form-field{

    width: 140%;

}

.table{
    width: 60%;
}

.mat-cell:nth-child(1),
.mat-cell-header:nth-child(1){
    flex:0,0,6%;

}


